.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
cuts.Rmd
Day1-keynote.key
TIER R Markdown workshop.txt
Untitled.Rmd
Untitled.html
Untitled.log
Untitled.pdf
finances
graphviz.Rmd
include-this.Rmd
my_script.R
nb-example.Rmd
nb-example.docx
nb-example.html
nb-example.pdf
workshop_details
plan.md
test.R
xaringan.pdf
final_practical_beginner.html
nb-example.tex
